.container    {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 20px;
}

.calc-box    {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 2.5em;
    margin: 20px;
    grid-column-start:1;
    grid-column-end:4;
    border-radius: 15px;
    direction: ltr;
    
}
.calc-container    {
    border-style: outset;
    background-color: grey;
    border-width: 15px;
    border-color: lightblue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    
}
.num-keys    {
    background-color: grey;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.num-container {
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
    font-size: 2em;
    
}
.number    {
    background-color: skyblue;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: auto;
    border: 5px groove #464646;
}

